---
name: Pull Request
on:
  pull_request:
    branches:
      - main
      - 'v*'
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - uses: actions/cache@v3
        with:
          path: |
            ./__pypackages__
          key: ${{ runner.os }}-python-${{ hashFiles('**/pdm.lock') }}

      - name: Install dependencies
        run: ./pw pdm install -G :all

      - name: Generate
        run: ./pw generate

      - name: Format
        run: ./pw format

      - name: Generate changelog
        run: ./pw changelog

      - name: Check repo status
        run: |-
          REPO_STATUS="$(git status --porcelain)"
          if [[ ! -z $REPO_STATUS ]]; then
            echo "::error::Uncommitted changes detected"
            echo "$REPO_STATUS"
            git status -vv
            exit 1
          fi

      - name: Test
        run: ./pw test
